.watch-card {
    position: relative;
    /* margin: 5px; */
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  
  .watch-card:hover,
  .watch-card:focus,
  .watch-card:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0em 0 5em white;
  }
  
  /* .perspective-container {
      perspective: 800px;
    } */
  
  /* .card {
      background-size: cover;
      box-shadow: 0 0 140px 10px rgba(0,0,0,.5);
      position: relative;
      height: 300px;
      width: 500px;
      overflow: hidden;
      --sheenX: 0;
      --sheenY: 0;
    }
    
    .card:after {
      content: "";
      position: absolute;
      top: -400px;
      right: -400px;
      bottom: -400px;
      left: -400px;
      background: linear-gradient(217deg, rgba(255,255,255,0), rgba(255,255,255,0) 35%, rgba(255,255,255,0.25) 45%, rgba(255,255,255,.25) 50%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%);
      transform: translateX(var(--sheenX)) translateY(var(--sheenY));
    } */
  
  .watch-card-title {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.3)
    );
    margin-bottom: 0px;
    padding: 5px;
    line-height: 1;
  }
  
  .watch-card:hover .watch-card-title {
    display: block;
  }
  