body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    39deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(27, 27, 27, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
